.header {
   background: url('images/herobg.png') no-repeat center center;
   background-size: cover;
   height: 85vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
 }
 .header h1 {
   font-size: 2.5rem;
   font-weight: bold;
 }
 .header p {
   font-size: 1.2rem;
   margin-bottom: 20px;
 }
 #headerp{
   font-size: 80px;
   }
.btn-warning {
    background-color: #f1c40f; /* Match the button color */
    border: none;
 }
 .bg-light{
    background-color: #F5E4D4 !important;
 }
 .btn-warning:hover {
    background-color: #e1b407; /* Darker shade on hover */
 }
 
 h5 {
    color: #333; /* Text color for the event title */
 }
 
 .text-muted {
    font-size: 0.8rem; /* Adjust font size for the muted text */
 }
 
 .text-uppercase {
    letter-spacing: 1px; /* Optional: Adds a bit of letter spacing */
 }
 #section2{
    background-color: #F5E4D4 !important;
 }

 /* Our Ministries css */
 
  
.card-img-top-ministries{
    height: 30vh;
    background-position: cover;
}

 /* Custom styles for the navbar */

 .navbar-nav {
    gap: 10px; /* Adds spacing between menu items */
    justify-content: center;
  }
 .navbar {
    background-color: transparent; /* Make the navbar transparent */
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000; /* Adjust color as needed */
  }
  .nav-link {
    color: #333; /* Adjust color as needed */
  }
  .nav-link.active {
    background-color: #f1c40f; /* Highlight active link */
    color: #fff !important;
    border-radius: 5px;
  }
 
  .btn-custom {
    background-color: #f1c40f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .navbar {
background-color: #F5E4D4;
}
#img-brand{
height: 50px;
}

.me-2
{
   width: 20px;
   height: 20px;
   object-fit: cover;
   align-items: flex-start;

}

/* Custom styling for the newsletter section */
form {
   display: flex;
   align-items: center;
   
 }
 
 form input[type="email"] {
   width: 70%;
   min-width: 200px;
   height: 40px;
 }
 
 form button {
   white-space: nowrap;
 }
 
 @media (max-width: 768px) {
   form {
     flex-direction: column;
     align-items: center;
   }
 
   form input[type="email"] {
     width: 100%;
     margin-bottom: 10px;
   }
 
   form button {
     width: 100%;
   }
 }
 



  